.App {
    
    padding-top: 50px;
}
.footer {
    padding: 100px 0;
    background-image: linear-gradient(to top, #e8e8e8, #eeeeee, #f3f3f3, #f9f9f9, #ffffff);

}
.product-item {
    margin-top: 30px
}
.darkjumb {
    background-image: linear-gradient(to right bottom, #060606, #151515, #202020, #2b2b2b, #363636);    
    color: white;
    border-radius: 0;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px
}
.card-item {
    margin-bottom: 20px;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin: 40px 0;
}
.collection {
    padding: 20px 0;
}
.collection .collection-item{
    display: flex;
    margin-bottom: 10px;
    border: #999999 1px solid;
    padding: 10px;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}
